svg * {
  transition-property: fill, stroke;
}

.swiper {
  width: 100%;
  max-width: 100%;
}

[data-animate] {
  will-change: transform, opacity;
  backface-visibility: hidden;
  transform: translateZ(0);
}

*:focus-visible {
  outline: none;
}

.swiper-wrapper,
.swiper-slide,
.swiper-button-next,
.swiper-button-prev,
.swiper-pagination {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cover {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 88.5dvh;
}

.cover_wrap {
  display: flex;
  margin-inline: auto;
  max-width: 1088px;
  position: relative;
}

@media (max-width: 1199px) {
  .cover_wrap {
    max-width: 725px;
  }
}

.cover_wrap_content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cover_wrap_content.--cover-glow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 50%, 100% 100%, 100% 100%, 50% 100%, 0 0);
  -webkit-clip-path: polygon(100% 50%, 100% 100%, 100% 100%, 50% 100%, 0 0);
  pointer-events: none;
  z-index: 3;
}

.cover_wrap_content.--cover-glow .cover_wrap_content_title {
  color: #8eeb21;
}

.cover_wrap_content.--cover-glow .cover_wrap_content_description {
  color: #8eeb21;
}

.cover_wrap_content.--cover-glow .cover_wrap_content_btn {
  background: #8eeb21;
}

.cover_wrap_content.--cover-glow .cover_wrap_content_image img,
.cover_wrap_content.--cover-glow .cover_wrap_content_image video {
  filter: none;
}

.cover_wrap_content.--cover-white .cover_wrap_content_title {
  color: #fff;
}

.cover_wrap_content.--cover-white .cover_wrap_content_description {
  color: #fff;
}

.cover_wrap_content.--cover-white .cover_wrap_content_btn {
  background: #8eeb21;
  color: #09090b;
}

@media (hover: hover) {
  .cover_wrap_content.--cover-white .cover_wrap_content_btn:hover {
    background: #005b49;
    color: #fff;
  }
}

.cover_wrap_content.--cover-white .cover_wrap_content_btn:active {
  background: #003c30;
  color: #fff;
}

@media (hover: none) {
  .cover_wrap_content.--cover-white .cover_wrap_content_btn:active {
    background: #005b49;
    color: #fff;
  }
}

.cover_wrap_content_title {
  color: #9a9a9a;
  text-align: center;
  font-family: "ALS Gorizont", sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 1;
  font-size: clamp(28px, 8vh, 75px);
  transition: 0.4s;
}

.cover_wrap_content_title_icon {
  display: inline;
}

.cover_wrap_content_title_icon img,
.cover_wrap_content_title_icon svg {
  display: inline;
}

.cover_wrap_content_title_icon img {
  filter: grayscale(1) brightness(0.9);
}

.cover_wrap_content_description {
  color: #9a9a9a;
  font-family: "Onest", sans-serif;
  font-weight: 400;
  line-height: clamp(20px, 4vh, 38px);
  text-align: center;
  max-width: 690px;
  margin-top: 25px;
  font-size: clamp(16px, 3vh, 28px);
  transition: 0.4s;
}

.cover_wrap_content_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 26px 50px 28px 50px;
  border-radius: 30px;
  font-family: "Onest", sans-serif;
  font-size: clamp(16px, 2.5vh, 24px);
  font-weight: 500;
  line-height: normal;
  margin-top: 57px;
  color: #09090b;
  background: #9a9a9a;
  transition: all 0.3s ease 0s;
  width: 717px;
}

.cover_wrap_content_image {
  position: absolute;
  width: 102px;
  height: 102px;
  right: -60px;
  top: 253px;
}

.cover_wrap_content_image img,
.cover_wrap_content_image video {
  width: 100%;
  height: 100%;
  filter: grayscale(1) brightness(0.9);
}

.cover_wrap_content_title_icon svg {
  width: 1em; /* ширина = размер шрифта заголовка */
  height: 1em; /* высота = размер шрифта заголовка */
  vertical-align: middle; /* чтобы центрировать по линии текста */
}

@media (max-width: 1199px) {
  .cover_wrap_content_btn {
    width: 400px;
    padding: 18px 32px 20px 32px;
    border-radius: 12px;
    font-size: clamp(14px, 2.5vh, 16px);
    margin-top: 24px;
  }

  .cover_wrap_content_title_icon {
    position: relative;
    top: 4px;
  }

  .cover_wrap_content_title_icon svg {
    width: 40px;
    height: 36px;
  }

  .cover_wrap_content_description {
    margin-top: 16px;
    max-width: 72%;
  }
}

@media (max-width: 1080px) {
  .cover {
    min-height: 92.5dvh;
  }

  .cover_wrap_content_btn {
    width: 198px;
    height: 58px;
    padding: 16px 32px;
    border-radius: 20px;
    font-size: clamp(14px, 2.5vh, 16px);
  }

  .cover_wrap_content_title {
    font-size: clamp(28px, 7vh, 46px);
    line-height: 1;
  }
}

@media (max-width: 675px) {
  .cover_wrap_content_title {
    font-size: clamp(20px, 6vh, 28px);
    line-height: 90%;
    max-width: 409px;
    letter-spacing: 0px;
  }

  .cover_wrap_content_description {
    font-size: clamp(14px, 3vh, 16px);
    margin-top: 14px;
    max-width: 409px;
    line-height: 120%;
  }

  .cover_wrap_content_title_icon {
    position: relative;
    top: 4px;
  }

  .cover_wrap_content_title_icon svg {
    width: 25px;
    height: 22px;
  }
}
