html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Onest", sans-serif;
  background-color: #070808;
  color: #f8f8f8;
  min-height: 100vh;
}

/* ------------------------ */

a {
  color: #f8f8f8;
}

h1 {
  font-family: Random Grotesque;
  font-weight: 750;
  font-size: 92px;
  line-height: 80%;
  letter-spacing: -4%;
}

h2 {
  font-family: Random Grotesque;
  font-weight: 750;
  font-size: 70px;
  line-height: 80%;
  letter-spacing: -4%;
}

h3 {
  font-family: Random Grotesque;
  font-weight: 600;
  font-size: 48px;
  line-height: 90%;
  letter-spacing: 0%;
}

.text-14 {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 4%;
}

.text-18 {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
}

.text-24 {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0%;
}

.btn {
  border-radius: 30px;
  background: var(--primary, #8eeb21);
  color: #070808;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  background: #005b49;
  color: #f8f8f8;
}

.btn:active {
  background: #003c30;
}

.btn-s {
  padding: 10px 30px;
}

.btn-l {
  padding: 26px 50px;
}

@media (max-width: 1080px) {
  .btn-s {
    padding: 10px 18px;
  }

  .text-18 {
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 4%;
  }

  h2 {
    font-weight: 750;
    font-size: 40px;
    line-height: 80%;
    letter-spacing: -4%;
  }

  h3 {
    font-weight: 600;
    font-size: 30px;
    line-height: 90%;
    letter-spacing: -4%;
  }

  .text-24 {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;
  }

  .text-14 {
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 4%;
  }
}

/* ------------------------ */

.menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--gray, #151b1a);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  z-index: 100;
  transition: all 0.3s ease 0s;
  opacity: 0;
  visibility: hidden;
}

.menu__open {
  opacity: 1;
  visibility: visible;
}

body:has(.menu__open),
html:has(.menu__open) {
  overflow: hidden;
}

.menu__top {
}
.menu__close {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  margin-bottom: 16px;
}
.menu__col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu__link {
  padding: 4px 10px;
  font-size: 24px;
}
.menu__drop {
}
.menu__sub {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-left: 10px;
}
.menu__sub-link {
  display: flex;
  gap: 10px;
  align-items: center;
}

.menu__sub-link span {
  font-size: 18px;
}

.menu__dot {
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background: var(--primary, #8eeb21);
}
.menu__btn {
  text-align: center;
  padding: 26px 0;
}

.menu__btn span {
  font-size: 24px;
}
/* ------------------ */
.home {
  padding-top: 15px;
  padding-bottom: 240px;
}
.home__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.home__img {
  width: 228px;
  height: 120px;
  border-radius: 20px;
  object-fit: cover;
  margin-bottom: 39px;
}
.home__title {
  color: #8eeb21;
  margin-bottom: 20px;
}
.home__description {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 52px;
}
.home__btn {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 85px;
}
.home__voice {
  text-align: left;
  margin-bottom: 162px;
}
.home__img-big {
  width: 100%;
  max-width: 1000px;
  height: 100%;
}
@media (max-width: 1080px) {
  .home {
    padding-top: 32px;
    padding-bottom: 80px;
  }
  .home__img {
    width: 168px;
    height: 88px;
    margin-bottom: 24px;
    border-radius: 12px;
  }

  .home__img-big {
    border-radius: 12px;
  }

  .home__title {
    margin-bottom: 8px;
  }
  .home__description {
    max-width: 610px;
    margin: 0 auto;
    margin-bottom: 24px;
  }

  .home__btn {
    padding: 18px 32px;
    font-size: 16px;
    margin-bottom: 80px;
    border-radius: 12px;
  }

  .voice.home__voice {
    display: none;
  }
}
@media (max-width: 675px) {
  .home__description {
    font-size: 14px;
  }
  .home__btn {
    margin-bottom: 60px;
  }
}
/* --------------------- */

.work {
  padding-bottom: 240px;
}

.work .container {
  max-width: 1344px;
}

.work__title {
  text-align: center;
  margin-bottom: 62px;
}

.work__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

.work__li {
  width: 100%;
  height: 262px;
  border-radius: 30px;
  padding: 40px;
  background: #151b1a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.work__number {
  opacity: 0.4;
}
.work__info {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.work__heading {
  color: #8eeb21;
}

@media (max-width: 1080px) {
  .work {
    padding-bottom: 80px;
  }
  .work__title {
    margin-bottom: 16px;
  }
  .work__body {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
  }
  .work__li {
    padding: 20px;
    height: 156px;
  }

  .work__description {
    font-size: 14px;
  }
}
@media (max-width: 675px) {
  .work__body {
    display: flex;
  }
}
/* ---------------------- */
.path {
  padding-bottom: 240px;
}
.path .container {
  max-width: 1344px;
}

.path__body {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.path__item {
  padding: 30px;
  border-radius: 30px;
  display: flex;
  gap: 30px;
  background: var(--gray, #151b1a);
  align-items: center;
}
.path__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.path__col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.path__title {
  color: #8eeb21;
}

.path__text {
}

@media (max-width: 1080px) {
  .path {
    padding-bottom: 80px;
  }
  .path__body {
    gap: 10px;
  }
  .path__item {
    padding: 20px;
    border-radius: 16px;
    gap: 24px;
  }
  .path__img {
    width: 335px;
    border-radius: 8px;
  }

  .path__text {
    font-size: 14px;
  }

  .path__col {
    gap: 6px;
  }
}

@media (max-width: 675px) {
  .path__item {
    flex-direction: column;
  }

  .path__img {
    width: 100%;
  }
}
/* ---------------------- */
.header {
  margin-top: 30px;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0px 40px;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  border-radius: 100px;
  gap: 4px;
  padding: 8px;
  background: #151b1a;
  backdrop-filter: blur(20px);
}

.header__link {
  border-radius: 100px;
  padding: 8px 24px;
  transition: all 0.3s ease 0s;
}

.header__link:hover {
  color: #8eeb21;
}

.header__link-active {
  background: #404544;
  backdrop-filter: blur(20px);
}

.header__dropdown {
  display: flex;
  align-items: center;
  gap: 11.5px;
  position: relative;
  padding: 8px 24px;
  cursor: pointer;
  border-radius: 100px;
  transition: all 0.3s ease 0s;
}

.header__dropdown .header__icon {
  transform: rotate(180deg);
  transition: all 0.3s ease 0s;
}

.header__dropdown:hover {
  background: #404544;
}

.header__dropdown:hover .header__icon {
  transform: rotate(0deg);
}

.header__container {
  padding-top: 4px;
  left: 0;
  top: 100%;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}

.header__content {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 14px;
  background: #404544;
  backdrop-filter: blur(20px);
  border-radius: 20px;
}

.header__dropdown:hover .header__container {
  opacity: 1;
  visibility: visible;
}

.header__content .header__link {
  padding: 4px;
  border-radius: 0px;
}

.header__burger {
  display: none;
  background: none;
}

@media (max-width: 1080px) {
  .header__burger {
    display: block;
    padding: 8px 4px;
  }

  .header__nav {
    display: none;
  }

  .header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 24px;
    width: 107px;
  }

  .header__logo img {
    width: 107px;
  }

  .container {
    padding: 0px 17px;
  }
}

@media (max-width: 675px) {
  .header__btn {
    display: none;
  }

  .header__logo {
    position: static;
    transform: none;
    width: 85px;
  }

  .header__logo img {
    width: 85px;
  }

  .container {
    padding: 0px 9px;
  }
}

.header__btn {
}

.main {
}

.proj {
  padding-bottom: 240px;
}
.proj__title {
  text-align: center;
  margin-bottom: 80px;
}
.proj__column {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.proj__item {
  background: #151b1a;
  border-radius: 50px;
  padding: 30px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.proj__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 16px;
  width: 100%;
}

.proj__grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 30px;
}

.proj__item:nth-child(1) .proj__grid img:nth-child(1) {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.proj__item:nth-child(1) .proj__grid img:nth-child(2) {
  grid-column: 2 / span 3;
  grid-row: 1 / span 1;
}

.proj__item:nth-child(1) .proj__grid img:nth-child(3) {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
}

.proj__item:nth-child(1) .proj__grid img:nth-child(4) {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}

.proj__item:nth-child(1) .proj__grid img:nth-child(5) {
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
}

/* ---- */

.proj__item:nth-child(2) .proj__grid img:nth-child(1) {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

.proj__item:nth-child(2) .proj__grid img:nth-child(2) {
  grid-column: 3 / span 2;
  grid-row: 1 / span 1;
}

.proj__item:nth-child(2) .proj__grid img:nth-child(3) {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.proj__item:nth-child(2) .proj__grid img:nth-child(4) {
  grid-column: 2 / span 2;
  grid-row: 2 / span 1;
}

.proj__item:nth-child(2) .proj__grid img:nth-child(5) {
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
}

/* ---- */

.proj__item:nth-child(3) .proj__grid img:nth-child(1) {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.proj__item:nth-child(3) .proj__grid img:nth-child(2) {
  grid-column: 3 / span 2;
  grid-row: 1 / span 1;
}

.proj__item:nth-child(3) .proj__grid img:nth-child(3) {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}

.proj__item:nth-child(3) .proj__grid img:nth-child(4) {
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
}

/* ---- */

.proj__item:nth-child(4) .proj__grid img:nth-child(1) {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}

.proj__item:nth-child(4) .proj__grid img:nth-child(2) {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.proj__item:nth-child(4) .proj__grid img:nth-child(3) {
  grid-column: 3 / span 2;
  grid-row: 1 / span 1;
}

.proj__item:nth-child(4) .proj__grid img:nth-child(4) {
  grid-column: 2 / span 2;
  grid-row: 2 / span 1;
}

.proj__item:nth-child(4) .proj__grid img:nth-child(5) {
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
}

.proj__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.proj__left {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.proj__text {
}
.proj__right {
}

.voice {
  position: relative;
  display: flex;
  width: 291px;
  align-items: flex-end;
  gap: 18px;
}

.voice__img-container {
  width: 85px;
  height: 85px;
  border-radius: 50px;
  overflow: hidden;
}

.voice__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.voice__main {
  background: var(--secondary, #005b49);
  border-radius: 50px;
  border: 6px solid var(--gray, #151b1a);
  position: absolute;
  right: 0;
  top: -25px;
  display: flex;
}

.voice__progress {
  position: relative;

  display: flex;
  align-items: center;
  gap: 12px;
  padding: 6px;
  padding-right: 16px;
}

.voice__progress::before {
  content: url(./img/voice_icon.svg);
  position: absolute;
  left: 24px;
  top: 100%;
}

.voice__btn {
  background: var(--white, #f8f8f8);
  width: 38px;
  height: 38px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease 0s;
}

.voice__btn:hover {
  opacity: 0.6;
}

.voice__lines {
  display: flex;
  align-items: center;
  gap: 4px;
}
.voice__line {
  background: var(--white, #f8f8f8);
  border-radius: 50px;
  width: 2px;
}
.voice__line-s {
  height: 3px;
  width: 3px;
}
.voice__line-m {
  height: 8px;
}
.voice__line-xm {
  height: 12px;
}
.voice__line-xl {
  height: 22px;
}
.voice__line-l {
  height: 16px;
}
.voice__person {
}

.voice__btn.playing {
  transform: scale(0.95);
  transition: transform 0.2s ease;
}

.voice__line {
  transition: opacity 0.3s ease, background-color 0.3s ease;
}

.voice__lines:hover .voice__line {
  opacity: 0.5;
}

.voice__lines:hover .voice__line.active {
  opacity: 1;
}

@media (max-width: 1080px) {
  .proj {
    padding-bottom: 80px;
  }

  .proj__title {
    margin-bottom: 40px;
  }

  .proj__item {
    padding: 20px;
    gap: 20px;
  }

  .proj__grid {
    gap: 11px;
  }

  .proj__left {
    gap: 10px;
    margin-bottom: 26px;
  }

  .voice__img-container {
    width: 60px;
    height: 60px;
    position: relative;
    top: -20px;
  }

  .voice__progress {
    padding: 4px;
    padding-right: 10px;
  }

  .voice__main {
    border-width: 4px;
  }

  .voice__btn {
    width: 32px;
    height: 32px;
  }

  .voice__lines {
    gap: 3px;
  }
  .voice {
    gap: 40px;
    width: 240px;
  }
  .proj__grid img {
    border-radius: 20px;
  }
}

@media (max-width: 675px) {
  .proj {
    padding-bottom: 60px;
  }

  .proj__grid {
    grid-template-rows: repeat(3, auto);
  }

  .proj__row {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .proj__grid img {
    border-radius: 10px;
  }

  .proj__item:nth-child(1) .proj__grid img:nth-child(1) {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }

  .proj__item:nth-child(1) .proj__grid img:nth-child(2) {
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
  }

  .proj__item:nth-child(1) .proj__grid img:nth-child(3) {
    grid-column: 2 / span 3;
    grid-row: 3 / span 1;
  }

  .proj__item:nth-child(1) .proj__grid img:nth-child(4) {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
  }

  .proj__item:nth-child(1) .proj__grid img:nth-child(5) {
    grid-column: 3 / span 2;
    grid-row: 2 / span 1;
  }

  /* ---- */

  .proj__item:nth-child(2) .proj__grid img:nth-child(1) {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
  }

  .proj__item:nth-child(2) .proj__grid img:nth-child(2) {
    grid-column: 2 / span 3;
    grid-row: 3 / span 1;
  }

  .proj__item:nth-child(2) .proj__grid img:nth-child(3) {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }

  .proj__item:nth-child(2) .proj__grid img:nth-child(4) {
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;
  }

  .proj__item:nth-child(2) .proj__grid img:nth-child(5) {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
  }

  /* ---- */

  .proj__item:nth-child(3) .proj__grid {
    grid-template-rows: repeat(2, 1fr);
  }

  .proj__item:nth-child(3) .proj__grid img:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }

  .proj__item:nth-child(3) .proj__grid img:nth-child(2) {
    grid-column: 2 / span 3;
    grid-row: 2 / span 1;
  }

  .proj__item:nth-child(3) .proj__grid img:nth-child(3) {
    grid-column: 3 / span 2;
    grid-row: 1 / span 1;
  }

  .proj__item:nth-child(3) .proj__grid img:nth-child(4) {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }

  /* ---- */
  .proj__item:nth-child(4) .proj__grid {
    grid-template-rows: repeat(3, 121px);
  }

  .proj__item:nth-child(4) .proj__grid img:nth-child(1) {
    grid-column: 3 / span 2;
    grid-row: 2 / span 1;
  }

  .proj__item:nth-child(4) .proj__grid img:nth-child(2) {
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
  }

  .proj__item:nth-child(4) .proj__grid img:nth-child(3) {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
  }

  .proj__item:nth-child(4) .proj__grid img:nth-child(4) {
    grid-column: 2 / span 3;
    grid-row: 3 / span 1;
  }

  .proj__item:nth-child(4) .proj__grid img:nth-child(5) {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }

  .proj__text {
    font-size: 14px;
    text-align: center;
  }

  .proj__name {
    text-align: center;
  }

  .proj__left {
    gap: 6px;
    margin-bottom: 20px;
  }
}

.serv {
  padding-top: 240px;
}

.brand__serv {
  padding-bottom: 116px;
}

.serv__title {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 80px;
  max-width: 1290px;
}

.serv__title img {
  margin-top: 10px;
}

.serv__row {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.serv__item {
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.serv__img {
  width: 416px;
  height: 416px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 40px;
}
.serv__name {
  color: #8eeb21;
  text-align: center;
  margin-bottom: 24px;
}
.serv__tags {
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}
.serv__tag {
  background: var(--dark-green, #0f1c19);
  padding: 12px 20px 14px 20px;
  border-radius: 60px;
}

.serv__item:nth-child(3) .serv__tags {
  width: 446px;
}

@media (max-width: 1550px) {
  .serv__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }

  .serv__img {
    width: 316px;
    height: 316px;
  }

  .serv__row {
    justify-content: center;
    gap: 40px;
  }

  .serv__item {
    width: 316px;
  }

  .brand__serv .serv__item {
    width: 100%;
  }

  .serv__item:nth-child(3) .serv__tags {
    width: 100%;
  }
}

@media (max-width: 1080px) {
  .serv {
    padding-top: 80px;
  }

  .serv__title {
    margin-bottom: 40px;
  }

  .serv__title img {
    width: 24px;
  }

  .serv__img {
    width: 180px;
    height: 180px;
    margin-bottom: 12px;
  }

  .serv__name {
    margin-bottom: 12px;
  }

  .serv__tag {
    padding: 10px 18px;
  }

  .serv__tag span {
    font-size: 14px;
  }

  .serv__row {
    gap: 10px;
  }

  .serv__item {
    width: 238px;
  }

  .brand__serv .serv__item {
    width: 100%;
  }
}

@media (max-width: 675px) {
  .serv__row {
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }

  .serv__item {
    max-width: 355px;
    width: 100%;
    padding-bottom: 43px;
  }

  .serv__tags {
    gap: 6px;
  }

  .brand__serv {
    padding: 60px 0;
  }
}

.team {
  padding: 240px 0;
  background-image: url(./img/team-gradient1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0% 0%;
}

.team__title {
  text-align: center;
  max-width: 1339px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.team__title img {
  margin-top: 10px;
}

.team__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
}
.team__item {
}
.team__img-container {
  position: relative;
  width: 100%;
}
.team__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  margin-bottom: 20px;
}
.team__name {
  margin-bottom: 8px;
}
.team__text {
  opacity: 0.6;
}

.play__btn {
  position: absolute;
  right: -24px;
  bottom: 0;
  width: 58px;
  height: 58px;
  border-radius: 50px;
  border: 8px solid var(--bg, #070808);
  background: var(--secondary, #005b49);
  transition: all 0.3s ease 0s;
}

.play__btn:hover {
  background: #0f3028;
}

.team__subtitle {
  max-width: 1260px;
  margin: 240px auto 80px auto;
  text-align: center;
}

.team__body {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.team__li {
  width: 622px;
  height: 263px;
  border-radius: 30px;
  padding: 40px;
  background: #151b1a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.team__number {
  opacity: 0.4;
}
.team__info {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.team__heading {
  color: #8eeb21;
}

@media (max-width: 1080px) {
  .team {
    padding-top: 80px;
    background-size: contain;
    background-position: 0% 38%;
    padding-bottom: 80px;
  }

  .team__title img {
    width: 30px;
    margin-top: 4px;
  }

  .team__title {
    margin-bottom: 40px;
  }

  .team__name {
    font-size: 24px;
    margin-bottom: 4px;
  }

  .team__text {
    font-size: 14px;
    opacity: 1;
  }

  .team__row {
    column-gap: 10px;
    row-gap: 40px;
  }

  .play__btn {
    width: 44px;
    height: 44px;
    right: -6px;
    bottom: 10px;
    border-width: 4px;
  }

  .team__img {
    margin-bottom: 10px;
  }

  .team__subtitle {
    margin-top: 80px;
    margin-bottom: 40px;
  }

  .team__li {
    width: calc(50% - 8px);
    height: 202px;
    border-radius: 20px;
    padding: 20px;
    gap: 10px;
  }

  .team__description {
    font-size: 14px;
  }

  .team__body {
    gap: 10px;
  }

  .team__info {
    gap: 8px;
  }
}

@media (max-width: 675px) {
  .team {
    padding-top: 60px;
    background-position: 0% 67%;
    padding-bottom: 60px;
  }

  .team__title {
    margin-bottom: 24px;
  }

  .team__title img {
    width: 25px;
    margin-top: 6px;
  }

  .team__row {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 24px;
  }

  .team__subtitle {
    margin-top: 60px;
    margin-bottom: 24px;
  }

  .team__body {
    flex-direction: column;
    align-items: center;
  }

  .team__li {
    width: 100%;
  }
}
/* ----------------------- */
.rewies {
  padding-bottom: 286px;
  background-image: url(./img/rewiews-gradient1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0% 64%;
}
.rewies__title {
  margin: 0 auto;
  margin-bottom: 150px;
  text-align: center;
  max-width: 901px;
}
.rewies__title img {
  margin-top: 10px;
}

.rewies__row {
  display: flex;
}
.rewies__row:nth-child(1) {
  justify-content: center;
}
.rewies__row:nth-child(2) {
  margin-top: 135px;
  justify-content: flex-start;
}
.rewies__row:nth-child(3) {
  margin-top: -218px;
  justify-content: flex-end;
}
.rewies__row:nth-child(4) {
  margin-left: 126px;
  justify-content: flex-start;
}

.rewies__item {
  width: 624px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.rewies__body {
  padding: 40px;
  border-radius: 30px;
  background: var(--gray, #151b1a);
  position: relative;
}
.rewies__body::before {
  content: url(./img/comment-angle.svg);
  position: absolute;
  left: 40px;
  top: calc(100% - 1px);
}

.rewies__text {
}
.rewies__author {
  display: flex;
  align-items: center;
  gap: 16px;
}
.rewies__img {
  width: 72px;
  height: 72px;
  border-radius: 40px;
}
.rewies__info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.rewies__name {
}
.rewies__job {
}

.rewies__pagination {
  display: none;
}

@media (max-width: 1452px) {
  .rewies__body {
    padding: 20px;
  }

  .rewies__item {
    gap: 36px;
  }

  .rewies__row:nth-child(4) {
    margin-top: 50px;
  }

  .rewies__row:nth-child(3) {
    margin-top: 50px;
  }
}

@media (max-width: 1080px) {
  .rewies {
    padding-bottom: 80px;
    background-size: contain;
    background-position: 0% 76%;
  }

  .rewies__title {
    max-width: 565px;
    margin-bottom: 42px;
  }

  .rewies__title img {
    width: 24px;
  }

  .rewies__body {
    padding: 30px;
    border-radius: 30px;
  }

  .rewies__item {
    width: 485px;
    gap: 40px;
  }

  .rewies__name {
    font-size: 18px;
  }

  .rewies__job {
    font-size: 14px;
  }

  .rewies__row:nth-child(2) {
    margin-top: 100px;
  }

  .rewies__row:nth-child(3) {
    margin-top: 80px;
  }

  .rewies__row:nth-child(4) {
    margin-top: 80px;
    margin-left: 0px;
  }
}

@media (max-width: 675px) {
  .rewies {
    padding-bottom: 60px;
  }
  .rewies__title {
    margin-bottom: 24px;
  }

  .rewies__item {
    gap: 30px;
  }

  .rewies__row:nth-child(1),
  .rewies__row:nth-child(2),
  .rewies__row:nth-child(3),
  .rewies__row:nth-child(4) {
    margin: 0px;
    justify-content: center;
  }

  .rewies__pagination {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    align-items: center;
    gap: 8px;
  }

  .pagination__dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #343434;
    transition: all 0.3s ease 0s;
  }

  .pagination__dot-active {
    width: 6px;
    height: 6px;
    background: #ffffff;
  }
}

/* --------------------------- */

.form {
  padding-bottom: 117px;
}

.brand__form {
  padding-bottom: 0px;
}

.form__body {
  background: var(--gray, #151b1a);
  border-radius: 50px;
  padding: 80px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.form__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 630px;
}
.form__title {
}
.form__green {
  color: #8eeb21;
}
.form__img-container {
  position: relative;
  width: 100%;
  width: 140px;
  height: 140px;
}
.form__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  margin-bottom: 20px;
  border-radius: 100px;
}

.form-play__btn {
  position: absolute;
  right: 0px;
  bottom: 0;
  width: 37px;
  height: 37px;
  border-radius: 37px;
  border: 5px solid var(--bg, #070808);
  background: var(--secondary, #005b49);
  transition: all 0.3s ease 0s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-play__btn img {
  width: 8.19px;
  height: 10.24px;
}

.form-play__btn:hover {
  background: #0f3028;
}
.form__main {
  display: flex;
  flex-direction: column;
}
.form__input {
  border-radius: 16px;
  padding: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #070808;
  letter-spacing: 0%;
  background: #f8f8f8;
  transition: all 0.3s ease 0s;
  border: 3px solid #f8f8f8;
}
.form__input::placeholder {
  opacity: 0.4;
}

.form__input:not(.form__input:last-of-type) {
  margin-bottom: 10px;
}

.form__input:focus-visible {
  border: 3px solid #8eeb21;
}

.form__input:last-of-type {
  margin-bottom: 24px;
}

.form__checkbox {
  display: flex;
  gap: 14px;
  align-items: flex-start;
  margin-bottom: 38px;
}
.form__checkbox-btn {
  background: none;
  margin-top: 3px;
}

.form__checkbox-text {
}

.form__btn {
}

.footer {
  height: 294px;
  background-image: url(./img/logo-big.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
.container {
}
.footer__row {
  display: flex;
  gap: 34px;
}
.footer__link {
  opacity: 0.4;
}

@media (max-width: 1400px) {
  .form__body {
    padding: 40px;
  }

  .form__left {
    max-width: 460px;
  }

  .form__title {
    font-size: 62px;
  }
}

@media (max-width: 1080px) {
  .form {
    padding-bottom: 80px;
  }

  .brand__form {
    padding-bottom: 0px;
  }

  .form__body {
    padding: 60px;
    border-radius: 40px;
    flex-direction: column;
  }

  .form__left {
    max-width: 100%;
    flex-direction: row;
  }

  .form__title {
    font-size: 48px;
    max-width: 412px;
  }

  .form__checkbox-text {
    max-width: 584px;
    font-size: 18px;
  }

  .form__img {
    min-width: 140px;
  }

  .form__checkbox {
    margin-bottom: 30px;
  }

  .form__btn span {
    font-size: 24px;
  }
}

@media (max-width: 1080px) {
  .footer {
    height: 153px;
  }

  .footer__link {
    font-size: 14px;
  }

  .footer__row {
    gap: 20px;
  }
}

@media (max-width: 675px) {
  .form__body {
    padding: 20px;
    border-radius: 30px;
  }

  .form__title {
    font-size: 40px;
    max-width: 100%;
  }

  .form__left {
    flex-direction: column;
    gap: 20px;
  }

  .form__img-container {
    width: 100px;
    height: 100px;
  }

  .form__img {
    min-width: 100%;
  }

  .form__body {
    gap: 30px;
  }

  .form__input {
    padding: 20px;
  }

  .form__input:last-of-type {
    margin-bottom: 20px;
  }

  .form__btn {
    padding: 18px 0px;
    width: 100%;
  }

  .form {
    padding-bottom: 60px;
  }

  .brand__form {
    padding-bottom: 0px;
  }

  .footer {
    height: 125px;
  }

  .footer__row {
    flex-direction: column;
    gap: 6px;
  }

  .footer {
    background-position: bottom;
  }
}
